<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Inspection board</display-name>
	
	<session-config>
        <!-- web.xml expects the session timeout in minutes: -->
        <session-timeout>10</session-timeout>
    </session-config>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
        <url-pattern>/inspection_board/*</url-pattern>
        <url-pattern>/login/*</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/MySQLDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>